<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:text="${pageOwner.getUsername()}"></div>
<div th:text="${pageOwner.getStatus()}"></div>
<img th:src="${'/images/avatars/'+pageOwner.getAvatarName()}"  alt="no image"/>
<a th:href="@{/profiles/my_profile}">go home</a>
<a th:href="@{/profiles/{id}/records(id=${pageOwner.getId()})}">See records</a>
<form th:if="${chatId==null}" method="post" th:action="@{/chat/create_with/{id}(id=${pageOwner.getId()})}">
    <input type="submit" value="Start chat">
</form>
<form th:if="${!areFriends}" method="post" th:action="@{/profiles/{id}/add_to_friends(id=${pageOwner.getId()})}">
    <input type="submit" value="Add to friends">
</form>
<form th:if="${areFriends}" method="post" th:action="@{/profiles/remove_friend/{id}(id=${pageOwner.getId()})}">
    <input type="submit" value="delete from friends">
</form>
<a th:if="${chatId!=null}" th:href="@{/chat/{id}/(id=${chatId})}">Go to chat</a>
</body>
</html>